%section{ "ng-controller" => "TopController" }
  %ul.row.application_categories
    %li.col-xs-6.animation{ "ng-repeat" => "application_category in application_categories" }
      %div.sn_button{ "ng-click" => "application_tap(application_category.application_category)" }
        %img.col-xs-12{ "ng-src" => "{{ application_category.application_category.icon_url }}" }

  %div.col-xs-12.animation.pop_menu{ "ng-repeat" => "application_category in application_categories", "ng-show" => "active_menu==application_category.application_category.id" }
    %section.row
      %div.col-xs-6.text-center{ "ng-repeat" => "application in application_category.applications" }
        %a{ "href" => "{{ application.application.route }}" }
          %img.col-xs-12{ "ng-src" => "{{ application.application_setting.icon_url }}" }
          {{ application.application.name }}
    %section.row
      %div.sn_button{ "ng-click" => "close_popup()" }
        %i.glyphicon.glyphicon-remove

