%form.form-horizontal
  %div.form-group
    %div.col-sm-12
  %div.form-group
    %label.col-sm-4.control-label{ 'for' => 'model-edit-category' } カテゴリ
    %div.col-sm-5
      %input.form-control#model-edit-category{ 'type' => 'text', 'ng-model' => 'model.edit.category' }
    %div.col-sm-3
  %div.form-group
    %label.col-sm-4.control-label{ 'for' => 'model-edit-sub-category' } サブカテゴリ
    %div.col-sm-5
      %input.form-control#model-edit-sub-category{ 'type' => 'text', 'ng-model' => 'model.edit.sub_category' }
    %div.col-sm-3
  %div.form-group   
    %label.col-sm-4.control-label{ 'for' => 'model-edit-released-at' }  公開日時
    %div.col-sm-5
      %input.form-control#model-edit-released-at{ 'type' => 'text', 'ng-model' => 'model.edit.content.released_at' }
    %div.col-sm-3
  %div.form-group
    %label.col-sm-4.control-label{ 'for' => 'model-edit-stopped' } 公開終了日時
    %div.col-sm-5
      %input.form-control#model-edit-stopped{ 'type' => 'text', 'ng-model' => 'model.edit.content.stopped' }
    %div.col-sm-3
  %div.form-group
    %label.col-sm-4.control-label{ 'for' => 'model-edit-title' } 文書名
    %div.col-sm-5
      %input.form-control#model-edit-title{ 'type' => 'text', 'ng-model' => 'model.edit.content.title' }
    %div.col-sm-3
  %div.form-group
    %label.col-sm-4.control-label{ 'for' => 'model-edit-body' } 説明
    %div.col-sm-5
      %textarea.form-control#model-edit-body{ 'rows' => '5', 'ng-model' => 'model.edit.content.body' }
    %div.col-sm-3
  %div.form-group
    %label.col-sm-4.control-label{ 'for' => 'model-edit-file' }  添付ファイル
    %div.col-sm-5
      %input#model-edit-file{ 'type' => 'file', 'ng-model' => 'model.edit.content.media_attributes.item' }
    %div.col-sm-3
  %div.form-group
    %div.col-sm-12
  %div.form-group.actions
    %div.col-sm-4
    %div.col-sm-2
      %button.btn.btn-block.btn-success.btn-lg{ 'ng-click' => 'update()' } 更新
    %div.col-sm-2
      %button.btn.btn-block.btn-default.btn-lg{ 'ng-click' => 'show()' } キャンセル
    %div.col-sm-4
  %div.form-group
    %div.col-sm-12
