%div.form-horizontal
  %div.form-group
    %div.col-sm-12
  %div.form-group
    %label.col-sm-3.control-label{ 'for' => 'content-released-at' }  公開日時
    %div.col-sm-4
      %div{ 'sn-ui-date-time-picker' => true }
        %input#content-released-at{ 'type' => 'text', 'ng-model' => 'content.released_at' }
  %div.form-group
    %label.col-sm-3.control-label{ 'for' => 'content-stopped-at' } 公開終了日時
    %div.col-sm-4
      %div{ 'sn-ui-date-time-picker' => true }
        %input#content-stopped-at{ 'type' => 'text', 'ng-model' => 'content.stopped_at' }
  %div.form-group
    %label.col-sm-3.control-label{ 'for' => 'content-users' } 宛先
    %div.col-sm-4
      %select.form-control#content-users{ 'multiple' => true, 'ng-model' => 'content.users' }
        %option{ 'ng-repeat' => 'user in form.users', 'value' => 'user.id' }
          {{ user.name }}
  %div.form-group
    %label.col-sm-3.control-label{ 'for' => 'content-title' } 文書名
    %div.col-sm-7
      %input.form-control#data-title{ 'type' => 'text', 'ng-model' => 'content.title' }
  %div.form-group
    %label.col-sm-3.control-label{ 'for' => 'data-body' } 説明
    %div.col-sm-7
      %textarea.form-control#model-content-body{ 'rows' => '5', 'ng-model' => 'content.body' }
  %div.form-group
  %div.form-group
    %label.col-sm-3.control-label 添付ファイル
  %div.form-group{ 'ng-repeat' => 'medium in content.media_attributes', 'ng-hide' => 'medium.destroy' }
    %div.col-sm-3
    %div.col-sm-3
      %input.form-control{ 'type' => 'text', 'placeholder' => 'title', 'ng-model' => 'medium.title' }
    %div.col-sm-3
      %div{ 'ng-show' => 'medium.local_status == "uploaded"', 'ng-bind' => 'util.get_filename(medium.item)' }
      %div{ 'sn-ui-input-file' => true, 'ng-model' => 'medium.item', 'ng-show' => 'medium.local_status != "uploaded"' }
        %input{ 'type' => 'file', 'ngf-select' => true, 'ngf-multiple' => "false", 'ng-model' => 'medium.item' }
    %div.col-sm-3
      %div.col-sm-2
        %button.btn.btn-info{ 'title' => 'ファイルを更新', 'ng-click' => 'medium.local_status = "reupload"', 'ng-show' => 'medium.local_status == "uploaded"' }
          %i.glyphicon.glyphicon-open-file
      %div.col-sm-2
        %form{ 'action' => '{{medium.item}}', 'method' => 'get', 'target' => '_blank' }
          %button.btn.btn-info{ 'title' => 'ダウンロード', 'ng-show' => 'medium.local_status == "uploaded"' }
            %i.glyphicon.glyphicon-download-alt
      %div.col-sm-2
        %button.btn.btn-danger{ 'title' => '削除', 'ng-click' => 'action("delfile", medium, {intex:$index})' }
          %i.glyphicon.glyphicon-trash
  %div.form-group
    %div.col-sm-3
    %div.col-sm-3
      %button.btn.btn-info.btn-xs{ 'ng-click' => 'action("addfile", content.media_attributes)' }
        %i.glyphicon.glyphicon-plus
        さらにファイルを追加
  %div.form-group
    %div.col-sm-12
  %div.form-group.actions{ 'ng-show' => 'viewmode == "new"' }
    %div.col-sm-4
    %div.col-sm-2
      %button.btn.btn-block.btn-success.btn-md{ 'ng-click' => 'action("create")' }
        %i.glyphicon.glyphicon-ok-circle
        登録
    %div.col-sm-2
      %button.btn.btn-block.btn-default.btn-md{ 'ng-click' => 'action("list_from")' }
        %i.glyphicon.glyphicon-remove-circle
        キャンセル
    %div.col-sm-4
  %div.form-group.actions{ 'ng-show' => 'viewmode == "edit"' }
    %div.col-sm-4
    %div.col-sm-2
      %button.btn.btn-block.btn-success.btn-md{ 'ng-click' => 'action("update")' }
        %i.glyphicon.glyphicon-ok-circle
        更新
    %div.col-sm-2
      %button.btn.btn-block.btn-default.btn-md{ 'ng-click' => 'action("list_from")' }
        %i.glyphicon.glyphicon-remove-circle
        キャンセル
    %div.col-sm-4
  %div.form-group
    %div.col-sm-12
