%script#movie-dialog{ 'type' => 'text/ng-template' }
  %div.modal-dialog
    %div.video-view
      %video{ 'controls' => true }
        %source{ 'ng-repeat' => 'movie in movies', 'ng-src' => '{{movie.src}}' }
        %span ご利用のブラウザでは動画を再生できません
    %div.actions
      %button.btn.btn-info.btn-md{ 'ng-click' => 'modal.action("close")' }
        %i.glyphicon.glyphicon-remove-circle
        閉じる

