%div.show-form.form-horizontal
  %div.form-group
    %div.col-md-4.show-label 公開日時
    %div.col-md-8 {{ content.released_at }}
  %div.form-group
    %div.col-md-4.show-label 公開終了日時
    %div.col-md-8 {{ content.stopped_at }}
  %div.form-group
    %div.col-md-4.show-label 文書名
    %div.col-md-8 {{ content.title }}
  %div.form-group
    %div.col-md-4.show-label 説明
    %div.col-md-8 {{ content.body }}
  %div.form-group
    %div.col-md-4.show-label 登録日時
    %div.col-md-8 {{ content.created_at }}
  %div.form-group
    %div.col-md-4.show-label 更新日時
    %div.col-md-8 {{ content.updated_at }}
  %div.form-group{'ng-repeat' => 'medium in content.media_attributes' }
    %div.col-md-4.show-label
      %span{ 'ng-if' => '$first' } 添付ファイル
    %div.col-md-2 {{ medium.title }}
    %div.col-md-3{ 'ng-bind' => 'util.get_filename(medium.item)' }
    %div.col-md-3
      %button.btn.btn-success{ 'title' => '動画を見る', 'ng-click' => 'action("show_movie", medium.item)' }
        %i.glyphicon.glyphicon-facetime-video
  %div.form-group.actions
    %div.col-md-4
    %div.col-md-2
      %button.btn.btn-block.btn-info.btn-md{ 'ng-click' => 'action("edit",content)' }
        %i.glyphicon.glyphicon-edit
        編集
    %div.col-md-2
      %button.btn.btn-block.btn-danger.btn-md{ 'ng-click' => 'action("delete",content)' }
        %i.glyphicon.glyphicon-trash
        削除
    %div.col-md-4
