%section#movie-uploads.bg-deep-purple{ "ng-controller" => "MovieUploadsController", "ng-cloak" => true }
  %section.bg-indigo.content-header
    %div.row
      %div.col-sm-5
        %button.btn.btn-default.btn-md{ 'ng-click' => 'action("list_from")' }
          %i.glyphicon.glyphicon-list
          リスト
        %button.btn.btn-success.btn-md{ 'ng-click' => 'action("edit")', 'ng-show' => 'viewmode == "list" || viewmode == "show"' }
          %i.glyphicon.glyphicon-certificate
          作成
        %button.btn.btn-info.btn-md{ 'ng-click' => 'action("edit", content)', 'ng-show' => 'viewmode == "detail"' }
          %i.glyphicon.glyphicon-edit
          編集
        %button.btn.btn-danger.btn-md{ 'ng-click' => 'action("delete", content)', 'ng-show' => 'viewmode == "detail"' }
          %i.glyphicon.glyphicon-trash
          削除

  %section.bg-subtle{ 'ng-show' => 'viewmode == "list"' }
    = render 'list'

  %section.bg-subtle{ 'ng-show' => 'viewmode == "new" || viewmode == "edit"' }
    = render 'form'

  %section.bg-subtle{ 'ng-show' => 'viewmode == "detail"' }
    = render 'show'

  = render 'modal_movie'

