%section#ng_words.bg-deep-purple{ "ng-controller" => "NgWordsController", "ng-cloak" => '' }
  %section.bg-indigo.content-header
    %div.row
      %div.col-md-4
        %button.btn.btn-default.btn-md{'ng-click' => 'new()', 'ng-show' => 'view == "list" || view == "show"' } 新規
      %div.col-md-4
      %div.col-md-4
        %div.input-group
          %input.form-control{ 'type' => 'text', 'ng-model' => 'model.search.title' }
          %div.input-group-btn
            %button.btn.btn-default{ 'ng-click' => 'easy_search()' }
              %i.glyphicon.glyphicon-search

  %section.bg-subtle{ 'ng-show' => 'view == "list"' }
    = render 'list'

  %section.bg-subtle{ 'ng-show' => 'view == "new"' }
    = render 'create'

  %section.bg-subtle{ 'ng-show' => 'view == "show"' }
    = render 'show'
  
  %section.bg-subtle{ 'ng-show' => 'view == "edit"' }
    = render 'update'
