%script#question-dialog-show{ type: 'text/ng-template' }
  .question-dialog.form-horizontal
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      %label.col-sm-2.control-label タイトル
      .col-sm-7.control-label.control-label-text {{ question.title }}
    .form-group
      .col-sm-2
      %label.col-sm-2.control-label 出題形式
      .col-sm-7.control-label.control-label-text
        %span{ ng: { show: 'question.question_type == env.questionTypes.selectOne' } } 単一選択
        %span{ ng: { show: 'question.question_type == env.questionTypes.multiSelect' } } 複数選択
    .form-group
      .col-sm-2
      %label.col-sm-2.control-label 問題文
      .col-sm-7.control-label.control-label-text {{ question.body }}
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      %label.col-sm-2.control-label 選択肢
      .col-sm-7
        %table.table
          %thead
            %tr
              %th.col-sm-1.number No.
              %th.col-sm-2.answer 正解
              %th.col-sm-8 ラベル
          %tbody
            %tr{ ng: { repeat: 'choice in question.choices_attributes', class: '{ success: choice.answer_flag == "1" }' } }
              %td.number {{ $index + 1 }}
              %td.answer
                %i.glyphicon.glyphicon-ok{ ng: { show: 'choice.answer_flag == "1"' } }
              %td {{ choice.sentence }}
    .form-group
      .col-sm-12
    .form-group.actions
      .col-sm-5
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.close()' } }
          %i.glyphicon.glyphicon-remove-circle
          閉じる
      .col-sm-5
    .form-group
      .col-sm-12

%script#question-dialog-edit{ type: 'text/ng-template' }
  .question-dialog.form-horizontal
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      %label.col-sm-2.control-label{ for: 'question-title' } タイトル
      .col-sm-7 
        %input#question-title.form-control{ type: 'text', ng: { model: 'question.title' } }
    .form-group
      .col-sm-2
      %label.col-sm-2.control-label 出題形式
      .col-sm-7
        %label.radio-inline
          %input{ type: 'radio', value: '{{env.questionTypes.selectOne}}', ng: { model: 'question.question_type', change: 'action.answerFlagClear()' } } 単一選択
        %label.radio-inline
          %input{ type: 'radio', value: '{{env.questionTypes.multiSelect}}', ng: { model: 'question.question_type', change: 'action.answerFlagClear()' } } 複数選択
    .form-group
      .col-sm-2
      %label.col-sm-2.control-label{ for: 'question-body' }  問題文
      .col-sm-7
        %textarea#question-body.form-control{ rows: '5', ng: { model: 'question.body' } }
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      %label.col-sm-2.control-label  選択肢
      .col-sm-7
        %table.table
          %thead
            %tr
              %th.col-sm-1.number No
              %th.col-sm-2.answer 正解
              %th.col-sm-8 ラベル
              %th.col-sm-1 &nbsp;
          %tbody
            %tr{ ng: { repeat: 'choice in question.choices_attributes | filter: { destroy: "!1" }', class: '{ success: choice.answer_flag  == "1" }' } }
              %td.number {{ $index + 1 }}
              %td.answer
                %div{ ng: { if: 'question.question_type == env.questionTypes.selectOne' } }
                  %input{ type: 'radio', value: '1', name: 'question-type', ng: { model: 'choice.answer_flag', change: 'action.answerFlagChange(choice)' } }
                .checkbox{ ng: { if: 'question.question_type == env.questionTypes.multiSelect' } }
                  %label
                    %input{ type: 'checkbox', ng: { model: 'choice.answer_flag', checked: 'choice.answer_flag == "1"',true: { value: '1' } } }
              %td
                %input.form-control.input-sm{ type: 'text', ng: { model: 'choice.sentence' } }
              %td
                %button.btn.btn-danger.btn-sm{ ng: { click: 'action.delete(choice)' } }
                  %i.glyphicon.glyphicon-trash
            %tr
              %td
              %td
              %td{ colspan: '2' }
                %button.btn.btn-default.btn-sm{ ng: { click: 'action.append()' } }
                  %i.glyphicon.glyphicon-plus
                  選択肢を追加する
    .form-group
      .col-sm-12
    .form-group.actions
      .col-sm-4
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.close()' } }
          %i.glyphicon.glyphicon-remove-circle
          キャンセル
      .col-sm-2
        %button.btn.btn-block.btn-success.btn-md{ ng: { click: 'action.save()' } }
          %i.glyphicon.glyphicon-chevron-right
          設定
      .col-sm-4
    .form-group
      .col-sm-12

