%section.form-page{ ng: { show: 'formMode == "summary"' } }
  .form-horizontal
    .form-group
      .col-sm-12
    .form-group
      %label.col-sm-3.control-label{ for: 'content-title' } テスト名
      .col-sm-7
        %input#content-title.form-control{ type: 'text', ng: { model: 'content.title' } }
    .form-group
      %label.col-sm-3.control-label{ for: 'content-body' } 説明
      .col-sm-7
        %textarea#content-body.form-control{ rows: '5', ng: { model: 'content.body' } }
    .form-group
      %label.col-sm-3.control-label{ for: 'content-clear-score' } 最大点数
      .col-sm-2
        %input#content-clear-score.form-control{ type: 'number', ng: { model: 'content.perfect_score' } }
    .form-group
      %label.col-sm-3.control-label{ for: 'content-clear-score' } 合格点
      .col-sm-2
        %input#content-clear-score.form-control{ type: 'number', ng: { model: 'content.clear_score' } }
    .form-group   
      %label.col-sm-3.control-label{ for: 'content-released-at' }  掲載期間
      .col-sm-6
        %div{ sn: { ui: { date: { time: { picker:  true } } } } }
          %input#content-released-at{ type: 'text', ng: { model: 'content.released_at' } }
        .range-string
          〜
        %div{ sn: { ui: { date: { time: { picker: true } } } } }
          %input#content-stopped-at{ type: 'text', ng: { model: 'content.stopped_at' } }
    .form-group
      .col-sm-12
    .form-group.actions
      .col-sm-4
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.list()' } }
          %i.glyphicon.glyphicon-remove-circle
          キャンセル
      .col-sm-2
        %button.btn.btn-block.btn-success.btn-md{ ng: { click: 'action.form("question")' } }
          %i.glyphicon.glyphicon-chevron-right
          設問の設定
      .col-sm-4
    .form-group
      .col-sm-12

%section.form-page{ ng: { show: 'formMode == "question"' } }
  .form-horizontal
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      .col-sm-8
        %table.table
          %thead
            %tr
              %th.col-sm-1 No.
              %th.col-sm-5 タイトル
              %th.col-sm-2 配点
              %th.col-sm-4 &nbsp;
          %tbody
            %tr{ ng: { repeat: 'question in content.questions_attributes | filter: { destroy: "!1" }' } }
              %td.number {{ $index + 1 }}
              %td.question-title
                %span{ ng: { show: 'question.title' } }
                  {{ question.title }}
                %span.notitle{ ng: { show: '!question.title' } }
                  設問のタイトルが設定されていません
              %td.score
                %input.form-control.input-sm{ type: 'number', ng: { model: 'question.test_score' } }
              %td.col-type-action
                %button.btn.btn-default.btn-sm{ ng: { click: 'action.questionShow(question)' } }
                  %i.glyphicon.glyphicon-tasks
                  詳細
                %button.btn.btn-info.btn-sm{ ng: { click: 'action.questionEdit(question)' } }
                  %i.glyphicon.glyphicon-pencil
                  編集
                %button.btn.btn-danger.btn-sm{ ng: { click: 'action.questionDelete(question)' } }
                  %i.glyphicon.glyphicon-trash
                  削除
            %tr
              %td
              %td
              %td
              %td
                %button.btn.btn-default.btn-sm{ ng: { click: 'action.questionAppend()' } }
                  %i.glyphicon.glyphicon-plus
                  テストに問題を追加する
    .form-group
      .col-sm-12
    .form-group.actions
      .col-sm-4
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.form("summary")' } }
          %i.glyphicon.glyphicon-chevron-left
          戻る
      .col-sm-2{ ng: { show: 'content.id' } }
        %button.btn.btn-block.btn-success.btn-md{ ng: { click: 'action.update(content.id)' } }
          %i.glyphicon.glyphicon-ok
          テストを更新
      .col-sm-2{ ng: { show: '!content.id' } }
        %button.btn.btn-block.btn-success.btn-md{ ng: { click: 'action.save()' } }
          %i.glyphicon.glyphicon-ok
          テストを作成
    .form-group
      .col-sm-12

