%ul.list-group
  %li.list-group-item{ ng: { repeat: 'data in list', click: 'action.show(data.id)' } }
    {{ data.title }}
  %li.list-group-item{ ng: { show: 'listLoading' } }
    %i.glyphicon.glyphicon-custom.loading-arrows
    リストを読み込んでいます...

