%section.form-page{ ng: { show: 'showMode == "summary"' } }
  .form-horizontal
    .form-group
      .col-sm-12
    .form-group
      %label.col-sm-3.control-label{ for: 'content-title' } テスト名
      .col-sm-7.control-label.control-label-text {{ content.title }}
    .form-group
      %label.col-sm-3.control-label{ for: 'content-body' } 説明
      .col-sm-7.control-label.control-label-text {{ content.body }}
    .form-group        
      %label.col-sm-3.control-label{ for: 'content-clear-score' } 最大点数
      .col-sm-2.control-label.control-label-text {{ content.perfect_score }}
    .form-group
      %label.col-sm-3.control-label{ for: 'content-clear-score' } 合格点
      .col-sm-2.control-label.control-label-text {{ content.clear_score }}
    .form-group
      %label.col-sm-3.control-label{ for: 'content-released-at' }  掲載期間
      .col-sm-6.control-label.control-label-text
        {{ content.released_at | date: 'yyyy年 M月 d日 HH:mm:ss' }}
        .range-string
          〜
        {{ content.stopped_at | date: 'yyyy年 M月 d日 HH:mm:ss' }}
    .form-group
      .col-sm-12
    .form-group.actions
      .col-sm-3
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.list()' } }
          %i.glyphicon.glyphicon-remove-circle
          リストに戻る
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.test(content.id)' } }
          %i.glyphicon.glyphicon-edit
          テストを受ける
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.detail("question")' } }
          %i.glyphicon.glyphicon-chevron-right
          設問の表示
      .col-sm-3
    .form-group
      .col-sm-12

%section.form-page{ ng: { show: 'showMode == "question"' } }
  .form-horizontal
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      .col-sm-8
        %table.table
          %thead
            %tr
              %th.col-sm-1 No.
              %th.col-sm-5 タイトル
              %th.col-sm-2 配点
              %th.col-sm-4 &nbsp;
          %tbody
            %tr{ ng: { repeat: 'question in content.questions_attributes | filter: { destroy: "!1" }' } }
              %td.number {{ $index + 1 }}
              %td.question-title
                %span{ ng: { show: 'question.title' } }
                  {{ question.title }}
                %span.notitle{ ng: { show: '!question.title' } }
                  設問のタイトルが設定されていません
              %td
                {{ question.test_score }} 点
              %td.col-type-action
                %button.btn.btn-default.btn-sm{ ng: { click: 'action.questionShow(question)' } }
                  %i.glyphicon.glyphicon-tasks
                  詳細
    .form-group
      .col-sm-12
    .form-group.actions
      .col-sm-3
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.list()' } }
          %i.glyphicon.glyphicon-remove-circle
          リストに戻る
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.test(content.id)' } }
          %i.glyphicon.glyphicon-edit
          テストを受ける
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.detail("summary")' } }
          %i.glyphicon.glyphicon-chevron-left
          概要を表示
      .col-sm-3
    .form-group
      .col-sm-12

