%section.form-page{ ng: { show: 'test.view == "question"' } }
  .form-horizontal.question-page
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      .col-sm-2
        %label.col-sm-8.control-label.control-label-text
          {{ test.currentIndex + 1 }}/{{ test.maxIndex + 1 }} 問目
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.testQuestionPrev()', if: 'test.currentIndex > 0' } }
          %i.glyphicon.glyphicon-chevron-left
          前の問題へ
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.testQuestionNext()', if: 'test.currentIndex < test.maxIndex' } }
          %i.glyphicon.glyphicon-chevron-right
          次の問題へ
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.testConfirm()', if: 'test.currentIndex == test.maxIndex' } }
          %i.glyphicon.glyphicon-chevron-right
          解答を確認する
      .col-sm-4
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      %label.col-sm-8.control-label.control-label-text {{ test.question.title }}
      .col-sm-2
    .form-group
      .col-sm-2
      %label.col-sm-8.control-label.control-label-text {{ test.question.body }}
      .col-sm-2
    .form-group.answer-group
      .col-sm-2
      .col-sm-8
        %table.table
          %tbody
            %tr{ ng: { repeat: 'choice in test.question.choices_attributes' } }
              %td.col-sm-1.answer
                %input{ type: 'radio', id: 'test-choice-{{$index}}', value: '1', name: 'answer-radio', ng: { model: 'choice.selected', if: 'test.question.question_type == env.questionTypes.selectOne', change: 'action.answerFlagChange(choice)' } }
                %input{ type: 'checkbox', id: 'test-choice-{{$index}}', ng: { model: 'choice.selected', if: 'test.question.question_type == env.questionTypes.multiSelect', true: { value: '1' } } }
              %td.col-sm-11.answer-label
                %label{ for: 'test-choice-{{$index}}' }
                  {{ choice.sentence }}
      .col-sm-2
    .from-group
      .col-sm-12
%section.form-page{ ng: { show: 'test.view == "confirm"' } }
  .form-horizontal.confirm-page
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      %label.col-sm-8.control-label.control-label-text 以下の解答で採点します。
      .col-sm-2
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      .col-sm-8
        %table.table
          %tbody
            %tr{ ng: { repeat: 'question in content.questions_attributes' } }
              %td
                .title {{ question.title }}
                .body {{ question.body }}
                .choice 
                  .choice-title 解答
                  %ul.choices
                    %li.choice{ ng: { repeat: 'choice in question.choices_attributes | filter: { selected: "1" }' } }
                      {{ choice.sentence }}
      .col-sm-2
    .form-group
      .col-sm-4
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.testQuestionLast()' } }
          %i.glyphicon.glyphicon-chevron-left
          修正する
      .col-sm-2
        %button.btn.btn-block.btn-success.btn-md{ ng: { click: 'action.testResult()' } }
          %i.glyphicon.glyphicon-check
          採点する
      .col-sm-4
    .form-group
      .col-sm-12
%section.form-page{ ng: { show: 'test.view == "result"' } }
  .form-horizontal.result-page
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      %label.col-sm-8.control-label.control-label-text 採点結果
      .col-sm-2
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      .col-sm-8
        .test-result
          .score-point
            {{ test.result.score }} 点
          .score-message
            -# とりあえず固定メッセージ
            .message{ ng: { show: 'test.result.pass_flag' } }
              合格です！ おめでとう！
            .message{ ng: { show: '!test.result.pass_flag' } }
              不合格です！ 南無三！
      .col-sm-2
    .form-group
      .col-sm-12
    .form-group
      .col-sm-5
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: '$parent.action.list()' } }
          %i.glyphicon.glyphicon-chevron-left
          一覧に戻る
      .col-sm-5
    .form-group
      .col-sm-12
