%form.form-horizontal
  %div.form-group
    %div.col-sm-12
  %div.form-group
    %label.col-sm-4.control-label{ 'for' => 'model-new-category' } カテゴリ
    %div.col-sm-5
      %input.form-control#model-new-category{ 'type' => 'text', 'ng-model' => 'model.new.category' }
    %div.col-sm-3
  %div.form-group
    %label.col-sm-4.control-label{ 'for' => 'model-new-sub-category' } サブカテゴリ                   
    %div.col-sm-5
      %input.form-control#model-new-sub-category{ 'type' => 'text', 'ng-model' => 'model.new.sub_category' }
    %div.col-sm-3
  %div.form-group   
    %label.col-sm-4.control-label{ 'for' => 'model-new-released-at' }  公開日時
    %div.col-sm-5
      %input.form-control#model-new-released-at{ 'type' => 'text', 'ng-model' => 'model.new.content.released_at' }
    %div.col-sm-3
  %div.form-group
    %label.col-sm-4.control-label{ 'for' => 'model-new-stopped' } 公開終了日時
    %div.col-sm-5
      %input.form-control#model-new-stopped{ 'type' => 'text', 'ng-model' => 'model.new.content.stopped' }
    %div.col-sm-3
  %div.form-group
    %label.col-sm-4.control-label{ 'for' => 'model-new-title' } 文書名
    %div.col-sm-5
      %input.form-control#model-new-title{ 'type' => 'text', 'ng-model' => 'model.new.content.title' }
    %div.col-sm-3
  %div.form-group
    %label.col-sm-4.control-label{ 'for' => 'model-new-body' } 説明
    %div.col-sm-5
      %textarea.form-control#model-new-body{ 'rows' => '5', 'ng-model' => 'model.new.content.body' }
    %div.col-sm-3
  %div.form-group
    %label.col-sm-4.control-label{ 'for' => 'model-new-file' }  添付ファイル
    %div.col-sm-5
      %input#model-new-file{ 'type' => 'file', 'ng-model' => 'model.new.content.media_attributes.item' }
    %div.col-sm-3
  %div.form-group
    %div.col-sm-12
  %div.form-group.actions
    %div.col-sm-4
    %div.col-sm-2
      %button.btn.btn-block.btn-success.btn-lg{ 'ng-click' => 'create()' } 登録
    %div.col-sm-2
      %button.btn.btn-block.btn-default.btn-lg{ 'ng-click' => 'list()' } キャンセル
    %div.col-sm-4
  %div.form-group
    %div.col-sm-12
