%div.show-form
  %div.row
    %span.col-md-6.show-label カテゴリ
    %span.col-md-6 {{ model.show.category }}
  %div.row
    %span.col-md-6.show-label サブカテゴリ
    %span.col-md-6 {{ model.show.subcategory }}
  %div.row
    %span.col-md-6.show-label 公開日時
    %span.col-md-6 {{ model.show.released_at }}
  %div.row
    %span.col-md-6.show-label 公開終了日時
    %span.col-md-6 {{ model.show.stopped_at }}
  %div.row
    %span.col-md-6.show-label 文書名
    %span.col-md-6 {{ model.show.title }}
  %div.row
    %span.col-md-6.show-label 説明
    %span.col-md-6 {{ model.show.body }}
  %div.row
    %span.col-md-6.show-label ファイルタイプ
    %span.col-md-6 {{ model.show.file_extension }}
  %div.row
    %span.col-md-6.show-label 登録日時
    %span.col-md-6 {{ model.show.created_at }}
  %div.row
    %span.col-md-6.show-label 更新日時
    %span.col-md-6 {{ model.show.updated_at }}
  %div.row.actions
    %span.col-md-3
    %span.col-md-2
      %button.btn.btn-block.btn-default.btn-lg{ 'ng-click' => 'list()', 'ng-show' => 'view != "list"' } 一覧
    %span.col-md-2
      %button.btn.btn-block.btn-info.btn-lg{ 'ng-click' => 'edit()', 'ng-show' => 'view == "show"' } 編集
    %span.col-md-2
      %button.btn.btn-block.btn-danger.btn-lg{ 'ng-click' => 'delete()', 'ng-show' => 'view == "show"' } 削除
    %span.col-md-3
