%section.form-page{ ng: { show: 'enquete.view == "question"' } }
  .form-horizontal.question-page
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      .col-sm-2
        %label.col-sm-8.control-label.control-label-text
          {{ enquete.currentIndex + 1 }}/{{ enquete.maxIndex + 1 }}
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.enqueteQuestionPrev()', if: 'enquete.currentIndex > 0' } }
          %i.glyphicon.glyphicon-chevron-left
          前の質問へ
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.enqueteQuestionNext()', if: 'enquete.currentIndex < enquete.maxIndex' } }
          %i.glyphicon.glyphicon-chevron-right
          次の質問へ
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.enqueteConfirm()', if: 'enquete.currentIndex == enquete.maxIndex' } }
          %i.glyphicon.glyphicon-chevron-right
          回答を確認する
      .col-sm-4
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      %label.col-sm-8.control-label.control-label-text {{ enquete.question.title }}
      .col-sm-2
    .form-group
      .col-sm-2
      %label.col-sm-8.control-label.control-label-text {{ enquete.question.body }}
      .col-sm-2
    .form-group.answer-group
      .col-sm-2
      .col-sm-8
        %table.table
          %tbody
            %tr{ ng: { repeat: 'choice in enquete.question.choices_attributes' } }
              %td.col-sm-1.answer
                %input{ type: 'radio', id: 'enquete-choice-{{$index}}', value: '1', name: 'answer-radio', ng: { model: 'choice.selected', if: 'enquete.question.question_type == env.questionTypes.selectOne', change: 'action.answerFlagChange(choice)' } }
                %input{ type: 'checkbox', id: 'enquete-choice-{{$index}}', ng: { model: 'choice.selected', if: 'enquete.question.question_type == env.questionTypes.multiSelect', true: { value: '1' } } }
              %td.col-sm-11.answer-label
                %label{ for: 'enquete-choice-{{$index}}' }
                  {{ choice.sentence }}
                .col-sm-5{ ng: { show: 'choice.free_flag' } }
                  %input.form-control.input-sm.free-wrod-input{ type: 'text', ng: { model: 'choice.free_word' } }
      .col-sm-2
    .from-group
      .col-sm-12
%section.form-page{ ng: { show: 'enquete.view == "confirm"' } }
  .form-horizontal.confirm-page
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      %label.col-sm-8.control-label.control-label-text 以下の回答で送信します。
      .col-sm-2
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      .col-sm-8
        %table.table
          %tbody
            %tr{ ng: { repeat: 'question in content.questions_attributes' } }
              %td
                .title {{ question.title }}
                .body {{ question.body }}
                .choice 
                  .choice-title 回答
                  %ul.choices
                    %li.choice{ ng: { repeat: 'choice in question.choices_attributes | filter: { selected: "1" }' } }
                      {{ choice.sentence }}
                      .span{ ng: { show: 'choice.free_flag && choice.free_word' } }
                        ({{ choice.free_word }})
      .col-sm-2
    .form-group
      .col-sm-4
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: 'action.enqueteQuestionLast()' } }
          %i.glyphicon.glyphicon-chevron-left
          修正する
      .col-sm-2
        %button.btn.btn-block.btn-success.btn-md{ ng: { click: 'action.enqueteResult()' } }
          %i.glyphicon.glyphicon-check
          送信する
      .col-sm-4
    .form-group
      .col-sm-12
%section.form-page{ ng: { show: 'enquete.view == "result"' } }
  .form-horizontal.result-page
    .form-group
      .col-sm-12
    .form-group
      .col-sm-2
      .col-sm-8
        .enquete-result
          .message
            アンケートの回答を送信しました！
      .col-sm-2
    .form-group
      .col-sm-12
    .form-group
      .col-sm-5
      .col-sm-2
        %button.btn.btn-block.btn-default.btn-md{ ng: { click: '$parent.action.list()' } }
          %i.glyphicon.glyphicon-chevron-left
          一覧に戻る
      .col-sm-5
    .form-group
      .col-sm-12
