%section#enquete.bg-deep-purple{ ng: { controller: 'EnquetesController', cloak: true } }
  %section.bg-indigo.content-header
    .row
      .col-sm-5
        .btn-group.btn-group-dropdown
          %button.btn.btn-default.btn-md{ ng: { click: 'listTypeOpen = false; action.list()' } }
            %i.glyphicon.glyphicon-list
            リスト
          %button.btn.btn-default.btn-md.dropdown-toggle{ ng: { click: ' listTypeOpen= !listTypeOpen' } }
            %span.caret
          %ul.dropdown-menu{ ng: { class: '{ open: listTypeOpen }' } }
            %li
              %a{ ng: { click: 'listTypeOpen = false; action.list(env.listTypes.from)' } }
                %i.glyphicon{ ng: { class: '(listMode == env.listTypes.from) ? "glyphicon-ok" : "glyphicon-none"' } }
                作成したアンケート
            %li
              %a{ ng: { click: 'listTypeOpen = false; action.list(env.listTypes.to)' } }
                %i.glyphicon{ ng: { class: '(listMode == env.listTypes.to) ? "glyphicon-ok" : "glyphicon-none"' } }
                自分宛のアンケート
        %button.btn.btn-success.btn-md{ ng: { click: 'action.new()', show: 'viewMode == "list" || viewMode == "show"' } }
          %i.glyphicon.glyphicon-certificate
          作成
        %button.btn.btn-info.btn-md{ ng: { click: 'action.edit(content.id)', show: 'viewMode == "detail"' } }
          %i.glyphicon.glyphicon-edit
          編集
        %button.btn.btn-danger.btn-md{ ng: { click: 'action.delete(content.id)', show: 'viewMode == "detail"' } }
          %i.glyphicon.glyphicon-trash
          削除

  %section.bg-subtle{ ng: { show: 'viewMode == "list"' } }
    = render 'list'

  %section.bg-subtle{ ng: { show: 'viewMode == "new" || viewMode == "edit"' } }
    = render 'form'

  %section.bg-subtle{ ng: { show: 'viewMode == "detail"' } }
    = render 'show'

  %section.bg-subtle{ ng: { show: 'viewMode == "enquete"', controller: 'EnqueteAnswerController' } }
    = render 'enquete'

= render 'dialog_question'
