.animation.ng-enter, .animation.ng-leave {
	transition: 0.5s cubic-bezier(.55,0,.1,1) all;
}
.animation.ng-enter, .animation.ng-show {
	opacity: 0;
}
.animation.ng-enter.ng-enter-active, .animation.ng-leave, .animation.ng-hide {
	opacity: 1;
}
.animation.ng-leave.ng-leave-active {
	opacity: 0;
}
 
.animation.ng-anchor-in, .animation.ng-anchor-in, .animation.ng-anchor-in {
	transition: 0.5s cubic-bezier(.55,0,.1,1) all;
}
.animation.ng-hide-add {
  transition: 1s;
  opacity: 1;
}
 
/* 非表示終了 */
.animation.ng-hide-add-active {
  opacity: 0;
}
 
/* 表示開始 */
.animation.ng-hide-remove {
  transition: 1s;
  opacity: 0;
}
 
/* 表示終了 */
.animation.ng-hide-remove-active {
  opacity: 1;
}
