/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require colors
 *= require eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min
 *= require animation
 *= require top
 *= require header
 *= require common
 *= require modal
 *= require file_upload
 *= require movie_upload
 *= require web_test
 *= require enquete
 *= require_self 
 */
* {
  color: #222;
}
ul {
	list-style-type: none;
}
i.glyphicon.glyphicon-remove {
	font-size: 5rem;
	color: #fff;
}

.sn_button {
	cursor: pointer;
}
