.bg-no,
.bg-no a {
  background: none;
}

.bg-subtle,
.bg-subtle a {
  background: #f8f8f8;
  color: #000;
}

.bg-white,
.bg-white a {
  background: #fff;
  color: #000;
}

.bg-red,
.bg-red a {
  background: #f44336;
  color: #fff;
}

.bg-pink,
.bg-pink a {
  background: #e91e63;
  color: #fff;
}

.bg-purple,
.bg-purple a {
  background: #9c27b0;
  color: #fff;
}

.bg-deep-purple,
.bg-deep-purple a {
  background: #673ab7;
  color: #fff;
}

.bg-indigo,
.bg-indigo a {
  background: #3f51b5;
  color: #fff;
}

.bg-blue,
.bg-blue a {
  background: #2196f3;
  color: #fff;
}

.bg-light-blue,
.bg-light-blue a {
  background: #03a9f4;
  color: #fff;
}

.bg-cyan,
.bg-cyan a {
  background: #00bcd4;
  color: #fff;
}

.bg-teal,
.bg-teal a {
  background: #009688;
  color: #fff;
}

.bg-green,
.bg-green a {
  background: #4caf50;
  color: #fff;
}

.bg-light-green,
.bg-light-green a {
  background: #8bc34a;
  color: #fff;
}

.bg-lime,
.bg-lime a {
  background: #cddc39;
  color: #fff;
}

.bg-yellow,
.bg-yellow a {
  background: #ffeb3b;
  color: #fff;
}

.bg-amber,
.bg-amber a {
  background: #ffc107;
  color: #fff;
}

.bg-orange,
.bg-orange a {
  background: #ff9800;
  color: #fff;
}

.bg-deep-orange,
.bg-deep-orange a {
  background: #ff5722;
  color: #fff;
}

.bg-brown,
.bg-brown a {
  background: #795548;
  color: #fff;
}

.bg-grey,
.bg-grey a {
  background: #9e9e9e;
  color: #fff;
}

.bg-blue-grey,
.bg-blue-grey a {
  background: #607d8b;
  color: #fff;
}

button,
button.bg-white {
  color: #000;
}

button a,
button.bg-white a {
  color: #000;
  text-decoration: none;
}
