@charset "UTF-8";

.content-header {
  padding: 5px;
}
.show-form {
  padding: 10px;
	.show-label {
		text-align: right;
	}
}
.actions {
  margin: 10px 0;
  text-align: center;
}

.video-view {
  
	max-width: 100%;

  video {
    max-width: 100%;
		height: auto;
		border: 1px solid #000;
	}

	.actions {
		padding: 10px;
		text-align: center;
	}
}

.btn-group-dropdown {

  .dropdown-menu {
		display: hidden;

		&.open {
			display: block;
		}

		a {
			background: transparent;
			cursor: pointer;

			&:hover {
				background: #9e9e9e;
			}
		}
	}
}

// Bootstrap拡張
.glyphicon-none {

	&:before {
		content: "\2122";
		color: transparent;
	}
}
.glyphicon-custom {
		background-position: center center;

		&:before {
			content: "\2122";
			color: transparent;
		}
		&.loading-arrows {
			background-image: url("/assets/loading_arrows.gif")
		}
}

// Directive関連
.sn-ui-datepicker {
	width: 250px;
	display: inline-block;
	vertical-align: top;
}

