@charset "UTF-8";

#enquete {

	.sn-ui-datepicker {
		vertical-align: middle;
	}

	.range-string {
		margin: 0 5px;
		display: inline-block;
		vertical-align: middle;
	}

  .control-label-text {
		text-align: left;
	}

	.number {
		text-align: right;
		vertical-align: middle;
	}

	.question-title {
		vertical-align: middle;
	}

	.notitle {
		color: #CCC;
	}

	.answer {
		text-align: center;
	}

	.answer-label {
		label {
			float: left;
			font-weight: normal;
		}
	}

	.free-word-input {
		&:before {
			content: '(';
		}
		&:after {
			content: ')';
		}
	}

	.confirm-page {

		.title {
			font-weight: bold;
		}

		.title, .body {
			margin-bottom: 10px;
		}

		.choice {
			ul {
				padding: 10px 40px;
				border: 5px solid #EEF;
				list-style-type: square;
			}
		}
	}

	.result-page {

		.test-result {
			text-align: center;

			.message {
				font-size: 24px;
			}
		}
	}
}

