@charset "UTF-8";

#file-uploads {
  margin-bottom: 20px;

  section.content-header {
		padding: 5px;
	}

  .show-form {
    padding: 10px;
	}

	.actions {
    margin: 10px 0;
		text-align: center;
	}

}
