@charset "UTF-8";

// Webチェックテスト、アンケートの設問
.question-dialog {

	.control-label-text {
		text-align: left;
	}

	.number {
		text-align: right;
		vertical-align: middle;
	}
	
	.answer, .free-word {
		text-align: center;
	}

}
