@charset "UTF-8";

#movie-uploads {

	margin-bottom: 20px;

  section.content-header {
		padding: 5px;
	}

  .show-form {
    padding: 10px;
	}

	.dl-form {
		display: inline;
	}

	.actions {
    margin: 10px 0;
		text-align: center;
	}

	.btn-transparent {
    opacity: 0;
		cursor: default;
	}
}
