// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.application_categories {
	li {
		margin-bottom: 20px;
	}
}
.pop_menu {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.7);
	height: 100%;
}
