@charset "UTF-8";


#web-tests {

	.sn-ui-datepicker {
		vertical-align: middle;
	}

	.range-string {
		margin: 0 5px;
		display: inline-block;
		vertical-align: middle;
	}

  .control-label-text {
		text-align: left;
	}

	.number {
		text-align: right;
		vertical-align: middle;
	}

	.question-title {
		vertical-align: middle;
	}

	.notitle {
		color: #CCC;
	}

	.score {
		input {
			width: 70px;
			display: inline-block;
			text-align: right;
		}
		&:after {
			content: '点';
		}
	}

	.answer {
		text-align: center;
	}

	.answer-label {
		label {
			font-weight: normal;
		}
	}

	.confirm-page {

		.title {
			font-weight: bold;
		}

		.title, .body {
			margin-bottom: 10px;
		}

		.choice {
			ul {
				padding: 10px 40px;
				border: 5px solid #EEF;
				list-style-type: square;
			}
		}
	}

	.result-page {

		.test-result {
			text-align: center;

			.score-point {
				font-size: 48px;
				font-weight: bold;
			}

			.score-message {
				font-size: 24px;
			}

			.score-point, .score-message {
				margin-bottom: 20px;
			}
		}
	}
}

