!!!
%html{ "ng-app" => "MainApp" }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title schoolNet
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.bg-grey{ "ng-controller" => "AppController" }
    %header.bg-cyan{ "ng-controller" => "HeaderController" }
      %section.container
        %section.row
          %section.col-xs-6
            = link_to root_path do
              = image_tag 'schoolnet_logo.png', class: "schoolnet_logo"
          %section.col-xs-6.text-right
            %button.btn.btn-default.btn-sm.pull-right{ "ng-click" => "show_login_modal()", "ng-if" => "!is_authenticated()" }
              sign in
            %button.btn.btn-default.btn-sm.pull-right.bg-blue{ "ng-click" => "logout()", "ng-if" => "is_authenticated()" }
              sign out
            %span.pull-right{ "ng-if" => "is_authenticated()" }
              = image_tag 'user.png', class: "user_icon"
        %section.row
          %section.col-xs-6
          %section.col-xs-6.text-right
            %button.btn.btn-default.btn-sm.bg-red{ "ng-click" => "validate()" }
              validate
            %button.btn.btn-default.btn-sm{ "ng-click" => "is_authenticated()" }
              authenticated?
            %button.btn.btn-default.btn-sm.bg-green{ "ng-click" => "get_user()" }
              current_user
            %button.btn.btn-default.btn-sm.bg-green{ "ng-click" => "get_file_uploads()" }
              file_uploads
      %section.container
        %ul{ 'ng-cloak' => 'true' }
          %li{ "ng-repeat" => "file_upload in file_uploads" }
            {{ file_upload.id }} {{ file_upload.title }}

    %section.container.bg-light-green
      = yield

